* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
html,
body,
#root,
.App {
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  flex-grow: 1;
}

/********************/
/*Carousel*/
/********************/

.carousel-body {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.carousel-movies {
  display: flex;
}

.card-carousel {
  box-sizing: border-box;
  min-width: 100%;
  background-color: #80808050;
  word-break: normal;
  padding: 1rem;
  min-height: 30vh;
  border: 5px solid #140f0790;
}
.card-carousel img {
  transition: all 700ms ease;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-carousel img:hover {
  transform: scale(1.2);
  opacity: 0.9;
  transform-origin: center;
  border-radius: 3px;
}
.card-carousel .card-title {
  background-color: #00000099;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 5px 5px 2px #140f07, 7px 7px 5px #3f5caf;
  padding: 0.3rem;
  text-align: center;
}
.carousel .btn {
  height: 20%;
  background-color: #00000090;
  color: whitesmoke;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  top: calc(100% - 60%);
}

.carousel .btn:hover {
  background-color: #000000;
  border: none;
}

.carousel_btn-left {
  left: 0;
}
.carousel_btn-right {
  right: 0;
}
/********************/
/*End Carousel*/
/********************/
/********************/
/*Media querys*/
/********************/
@media screen and (min-width: 576px) {
  .carousel-body .card-carousel {
    min-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .carousel-body {
    min-height: 20vh;
  }
}
@media screen and (min-width: 992px) {
  .carousel-body .card-carousel {
    min-width: 33.33%;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-body .card-carousel {
    min-width: 20%;
  }
}
@media screen and (min-width: 1400px) {
}
/********************/
/*End media querys*/
/********************/
